@using CinemaWorld.Models.ViewModels.Movies
@using System.Linq
@model MoviesListingViewModel
@{
    ViewData["Title"] = "All";
}

@{
    var prevDisabled = !Model.Movies.HasPreviousPage ? "disabled" : "";
    var prevPage = !Model.Movies.HasPreviousPage ? "1" : (Model.Movies.PageIndex - 1).ToString();
    var nextDisabled = !Model.Movies.HasNextPage ? "disabled" : "";
    var nextPage = !Model.Movies.HasNextPage ? "1" : (Model.Movies.PageIndex + 1).ToString();
    int movieCounter = 0;
}

<link rel="stylesheet" type="text/css" href="~/list-css/table-style.css" />
<link rel="stylesheet" type="text/css" href="~/list-css/basictable.css" />

<!-- faq-banner -->
<div class="faq">
    <h4 class="latest-text w3_faq_latest_text w3_latest_text">Movies List</h4>
    <div class="container">
        <div class="agileits-news-top">
            <ol class="breadcrumb">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="active">All movies</li>
            </ol>
        </div>
        <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
            <ul id="myTab" class="nav nav-tabs" role="tablist">
                @foreach (var link in Model.Alphabet)
                {
                    @if (Model.SelectedLetter == link || string.IsNullOrEmpty(Model.SelectedLetter) && link == "All")
                    {
                        <li class="active">
                            <a asp-action="All" asp-route-selectedLetter="@link">@link</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a asp-action="All" asp-route-selectedLetter="@link">@link</a>
                        </li>
                    }
                }
            </ul>
            <form asp-action="All" method="get">
                <div class="form-actions no-color">
                    <p>
                        Find by name: <input type="text" name="SearchString" value="@ViewData["currentSearchFilter"]" />
                        <input type="submit" value="Search" class="btn btn-sm btn-primary" /> |
                        <a asp-action="All">Back to Full List</a>
                    </p>
                </div>
            </form>
            <hr />
            <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                    <div class="agile-news-table">
                        <div class="w3ls-news-result">
                            <h4>Total Count : <span>@Model.Movies.Count()</span></h4>
                        </div>
                        @if (Model.Movies.TotalPages != 0)
                        {
                            <div class="blog-pagenat-wthree">
                                <ul class="pagination">
                                    <li>
                                        <a class="frist @prevDisabled" asp-action="All" asp-route-pageNumber="@prevPage" asp-route-selectedLetter="@Model.SelectedLetter"  asp-route-currentFilter="@ViewData["CurrentSearchFilter"]">
                                            Previous
                                        </a>
                                    </li>
                                    @for (int i = 1; i <= Model.Movies.TotalPages; i++)
                                    {
                                        if (i == Model.Movies.PageIndex)
                                        {
                                            <li class="active"><a asp-action="All" asp-route-pageNumber="@i" asp-route-selectedLetter="@Model.SelectedLetter" asp-route-currentFilter="@ViewData["CurrentSearchFilter"]">@i</a></li>
                                        }
                                        else
                                        {
                                            <li><a asp-action="All" asp-route-pageNumber="@i" asp-route-selectedLetter="@Model.SelectedLetter" asp-route-currentFilter="@ViewData["CurrentSearchFilter"]">@i</a></li>
                                        }
                                    }
                                    <li>
                                        <a class="last @nextDisabled" asp-action="All" asp-route-selectedLetter="@Model.SelectedLetter" asp-route-currentFilter="@ViewData["CurrentSearchFilter"]">
                                            Next
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        }
                        <table id="table-breakpoint">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Movie Name</th>
                                    <th>Movie Language</th>
                                    <th>Length</th>
                                    <th>Cinema category</th>
                                    <th>Date of release</th>
                                    <th>Resolution</th>
                                    <th>Country</th>
                                    <th>Genre</th>
                                    <th>Director</th>
                                    <th>Rating</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var movie in Model.Movies)
                                {
                                    movieCounter++;
                                    <tr>
                                        <td>@movieCounter</td>
                                        <td class="w3-list-img">
                                            <a asp-action="Details" asp-route-id="@movie.Id">
                                                <img src="@movie.CoverPath" alt="Movie Cover" />
                                                <span>
                                                    <strong>@movie.Name</strong>
                                                </span>
                                            </a>
                                        </td>
                                        <td>@movie.Language</td>
                                        <td>@movie.Length</td>
                                        <td>@movie.CinemaCategory</td>
                                        <td>@movie.OnlyDate</td>
                                        <td>@movie.Resolution</td>
                                        <td class="w3-list-info">
                                            @foreach (var movieCountry in movie.MovieCountries)
                                            {
                                                <span>@movieCountry.Country.Name</span>
                                            }
                                        </td>
                                        <td class="w3-list-info">
                                            @foreach (var movieGenre in movie.MovieGenres)
                                            {
                                                <span>@movieGenre.Genre.Name</span>
                                            }
                                        </td>
                                        <td>@movie.Director.FullName</td>
                                        <td>@movie.Rating</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //faq-banner -->

@section Scripts
{
    <script type="text/javascript" src="~/list-js/jquery.basictable.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table').basictable();

            $('#table-breakpoint').basictable({
                breakpoint: 768
            });
        });
    </script>
}
