@using CinemaWorld.Models.ViewModels.MovieProjections
@using CinemaWorld.Data.Models.Enumerations
@model MovieProjectionViewModel
@{
    ViewData["Title"] = "Book Ticket";
}

<link href="~/css/book-ticket.css" rel="stylesheet" type="text/css" media="all" asp-append-version="true">

<div class="content">
    <h1>Book Movie Ticket</h1>
    <div class="main">
        <h2>Multiplex Showing Screen @Model.MovieProjection.Hall.Id</h2>
        <div class="demo">
            <div id="seat-map">
                <div class="front">SCREEN</div>
            </div>
            <div class="booking-details">
                <ul class="book-left">
                    <li>Movie</li>
                    <li>Time</li>
                    <li>Tickets</li>
                    <li>Total</li>
                    <li>Ticket Type</li>
                    <li>Seat category</li>
                    <li>Seats</li>
                </ul>
                <form asp-controller="Tickets" asp-action="Book" method="post">
                    <ul class="book-right">
                        <li>@Model.MovieProjection.Movie.Name</li>
                        <li>@Model.MovieProjection.Date</li>
                        <li>
                            <span id="counter">0</span>
                            <input asp-for="@Model.Ticket.Quantity" value="0" />
                            <span asp-validation-for="@Model.Ticket.Quantity" class="text-danger"></span>
                        </li>
                        <li>
                            <b>
                                <i>$</i><span id="total">0</span>
                                <input asp-for="@Model.Ticket.Price" value="0" />
                            </b>
                            <span asp-validation-for="@Model.Ticket.Price" class="text-danger"></span>
                        </li>
                    </ul>
                    <select class="selectpicker" data-width="fit" asp-for="@Model.Ticket.TicketType"
                            asp-items="@(Html.GetEnumSelectList<TicketType>())">
                        <option selected="" disabled="">Select Ticket Type</option>
                    </select>
                    <div class="container">
                        <span asp-validation-for="@Model.Ticket.TicketType" class="text-danger"></span>
                    </div>
                    <input asp-for="@Model.Ticket.MovieProjectionTime" type="hidden" value="@Model.MovieProjection.Date" />
                    <div class="clear"></div>
                    <ul id="selected-seats" class="scrollbar scrollbar1"></ul>
                    <input asp-for="@Model.Ticket.Row" />
                    <input asp-for="@Model.Ticket.Seat" />
                    <input id="choosen-seats" name="ChoosenSeats" type="hidden" />
                    <button type="submit" class="checkout-button">Book Now</button>
                </form>
                <div id="legend"></div>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript" src="~/js/jquery.seat-charts.js" asp-append-version="true"></script>
    <script type="text/javascript">
        var price = 10; //price

        $(document).ready(function () {
            var $cart = $('#selected-seats'), //Sitting Area
                $ticketCounter = $('#counter'), //Tickets
                $total = $('#total'); //Total money

            let availableSeats = @Html.Raw(Json.Serialize(Model.AvailableSeats));
            var sc = $('#seat-map').seatCharts({
                //Seating chart
                map: availableSeats,
                naming: {
                    top: false,
                    getLabel: function (character, row, column) {
                        return column;
                    }
                },
                legend: { //Definition legend tva e legendata
                    node: $('#legend'),
                    items: [
                        ['a', 'available', 'Available'],
                        ['a', 'unavailable', 'Sold'],
                        ['a', 'selected', 'Selected']
                    ]
                },
                click: function () { //Click event
                    if (this.status() == 'available') { //optional seat
                        $('<li>Row ' + (this.settings.row + 1) + ' / Seat ' + this.settings.label + '</li>')
                            .attr('id', 'cart-item-' + this.settings.id)
                            .data('seatId', this.settings.id)
                            .appendTo($cart);

                        let quantity = sc.find('selected').length + 1;
                        let totalPrice = recalculateTotal(sc) + price;
                        var row = this.settings.row + 1;
                        var seat = this.settings.label;

                        $ticketCounter.text(quantity);
                        $total.text(totalPrice);
                        document.getElementById('Ticket_Quantity').value = quantity;
                        document.getElementById('Ticket_Price').value = totalPrice;
                        document.getElementById('Ticket_Row').value = row;
                        document.getElementById('Ticket_Seat').value = seat;

                        return 'selected';
                    } else if (this.status() == 'selected') { //Checked
                        //Update Number
                        $ticketCounter.text(sc.find('selected').length - 1);
                        //update totalnum
                        $total.text(recalculateTotal(sc) - price);

                        //Delete reservation
                        $('#cart-item-' + this.settings.id).remove();
                        //optional
                        return 'available';
                    } else if (this.status() == 'unavailable') {
                        return 'unavailable';
                    } else {
                        return this.style();
                    }
                }
            });

            //sold seats
            let soldSeats = @Html.Raw(Json.Serialize(Model.SoldSeats));
            sc.get(soldSeats).status('unavailable');
        });

        //sum total money
        function recalculateTotal(sc) {
            var total = 0;
            sc.find('selected').each(function () {
                total += price;
            });

            return total;
        }

        let selectedSeats = document.getElementById('selected-seats');
        let elements = selectedSeats.getElementsByTagName('li');
        let json = { "selectedSeats": elements };

        document.getElementById('choosen-seats').value = json;
    </script>
}