@using CinemaWorld.Models.ViewModels.Movies
@model IEnumerable<MovieDetailsViewModel>
@{
    this.ViewData["Title"] = "All movies";
    this.ViewData["ActivePage"] = MovieNavPages.Movies;
}

<link rel="stylesheet" type="text/css" href="~/list-css/table-style.css" />
<link rel="stylesheet" type="text/css" href="~/list-css/basictable.css" />

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h4>Movies List</h4>
            <hr />
            <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                        <div class="agile-news-table">
                            <table id="table-breakpoint">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Movie Name</th>
                                        <th>Movie Language</th>
                                        <th>Length</th>
                                        <th>Cinema category</th>
                                        <th>Year</th>
                                        <th>Resolution</th>
                                        <th>Country</th>
                                        <th>Genre</th>
                                        <th>Rating</th>
                                        <th>Functions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var movie in Model)
                                    {
                                        <tr>
                                            <td>@movie.Id</td>
                                            <td class="w3-list-img"><a href="@movie.TrailerPath"><img src="@movie.CoverPath" alt="" /><span>@movie.Name</span></a></td>
                                            <td>@movie.Language</td>
                                            <td>@movie.Length</td>
                                            <td>@movie.CinemaCategory</td>
                                            <td>@movie.DateOfRelease.Year</td>
                                            <td>@movie.Resolution</td>
                                            <td class="w3-list-info"><a href="#">@movie.CountryName</a></td>
                                            <td class="w3-list-info"><a href="#">@movie.Genre</a></td>
                                            <td>@movie.Rating</td>
                                            <td>
                                                <a class="badge badge-success" asp-action="Edit" asp-route-id="@movie.Id">Edit</a>
                                                <a class="badge badge-danger" asp-action="Remove" asp-route-id="@movie.Id">Remove</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript" src="~/list-js/jquery.basictable.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table').basictable();

            $('#table-breakpoint').basictable({
                breakpoint: 768
            });
        });
    </script>
}
